@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.news-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 30px;
    font-family: "Inter",sans-serif;
    margin-top: 50px;
}
.news-section-container-title{
    font-weight: bold;
    font-size: 1.3889rem;
    font-family: "Inter",sans-serif;
}

@media (min-width: 480px){
    .cards-section{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}